<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bill Prediction</h1>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="congress">Congress Number:</label>
                <select id="congress" name="congress">
                    <option value="">Select Congress</option>
                    <script>
                        for (let i = 102; i <= 118; i++) {
                            document.write('<option value="' + i + '">' + i + '</option>');
                        }
                    </script>
                </select>
            </div>
            <div class="form-group">
                <label for="billType">Bill Type:</label>
                <select id="billType" name="billType">
                    <option value="">Select Bill Type</option>
                    <option value="HR">HR</option>
                    <option value="HRES">HRES</option>
                    <option value="HCONRES">HCONRES</option>
                    <option value="HJRES">HJRES</option>
                    <option value="S">S</option>
                    <option value="SJRES">SJRES</option>
                    <option value="SCONRES">SCONRES</option>
                    <option value="SRES">SRES</option>
                </select>
            </div>
            <div class="form-group">
                <label for="billNumber">Bill Number:</label>
                <input type="text" id="billNumber" name="billNumber" placeholder="Enter Bill Number">
            </div>
            <div class="form-group">
                <label for="congressman">Congressman:</label>
                <select id="congressman" name="congressman">
                    <option value="All">All</option>
                    {% for name in congressmen %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Predict!</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
